
html{
    font-family:Helvetica, Arial;
}

img {
    float:left;

}

.bale, .histbale {
    width: 80%;
    border: solid black 2px;
    border-radius: 2px;
    margin:10px;
    padding:5px;
    background-color:white;
    font-size:24px;

}

.printbutton {

    height:40px;
    width:100px;


}


table{
    margin: 5px;
    font-size:30px;
    border-collapse:collapse;
    border:1px solid #FF0000;
    width:100%;
}
    
table td{
    margin: 5px;
    font-size:30px;
    border:1px solid #FF0000;
}

#count {
    align-self:right;
    
}

#ct{
    font-family:Helvetica, sans-serif;
    color: blue;
    font-size: 36px;
}

#gin {
    font-family:Helvetica, sans-serif;
    color: blue;
    font-size: 36px;
}

#banner {
    
    position: relative;
    font-family:Helvetica, Arial;
    font-weight: bold;
    font-size: 30px;
    margin:30px;
    display:flex;
    justify-content:space-between;
    width:90%;
    height:100px;
    border: solid black 2px;
    border-radius: 5px;
    padding:10px;
    background-color:#f0f0f5;
    
}

.description{

    font-size: 14px;
    font-weight:lighter;
    color:#7575a3
}

#perhour, #perbale, #prod {

    border: solid black 2px;
    border-radius: 5px;
    margin: 10px;
    background-color:#f0f0f5;
    padding: 5px;
    

}

#perhour, #perbale {
    width:25%;
    text-align:center;
}

.alert{
    width:50%;
    margin-left:auto;
    font-size: 70px;
    font-weight:bolder;
    color:#01ff01;
}

.description, .alert{
    margin:auto;
}

#statusbar{

    display:flex;
    width: 100%;

}

#graph {
    width: 40%;
}

#current, #history {
    width: 75%;
    border:solid black 2px;
    border-radius:5px;
    text-align:center;
    margin: 25px;
    background-color:#f0f0f5;
    font-size:36px;
    
}

#currentdisplay, #historicaldisplay{
    display:flex;
    flex-direction:column-reverse;
} 

#viewer{
    display:flex;
    
}